{% extends "base.html" %}
{% block content %}
    <main class="main main--about">
        <p>
            Hi, I'm Tyler! I make radios and software for a living and also teach catechism and Sunday School
            for my church. I've been Orthodox since 06/17/2021 and have been attending since summer of 2019. 
            My SDR experience is in GNURadio, RFNoc, UHD, Matlab HDLCoder, and Xilinx SoCs.
        </p>
        <p>
            Outside of work, I have been taking class for backend development and game development. This is mainly 
            through Boot.dev, Udemy, and CodeAcademy. This website was created as part of a Flask/Python class on 
            Udemy.
        </p>
        <p>
            I mainly write in Python and C++ codebases for work. I have started using Java to develop native Desktop 
            apps as well as building a game using libGDX.
        </p>
    </main>
{% endblock %}